/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Cuprum|Pacifico);   
   
html,body {
	height:100%;
	width:100%;
	background:url('../img/bg.png') repeat #000;
	text-shadow: 2px 2px 2px #111;
	font-family: 'Cuprum', sans-serif;
	/*font-family: 'Pacifico', cursive;
	*/
}
   
#wrapper {
	margin:0 auto;
	
}

#header {
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	text-align:right;
	padding:5px 40px 5px 0px;
	background:#111;
}

#header input {
	width:100px;
	background:#111;
	color:#fcfcfc;
	border:1px solid #ccc;
	text-align:center;
	margin:10px 0 0 0;
}

#body {
	font-size:18px;
	color:#cfcfcf;
	padding:50px 0 0 0;
	width:800px;
	margin:0 auto;
}

.tab {
	box-shadow:-2px 0 8px #111;
	font-family: 'Text Me One';
	font-size:20px;
	position:relative;
	left:18px;
	background:#258;
	display:inline-block;
	border:1px solid #111;
	border-bottom:0;
	padding:10px;
	width:90px;
	text-align:center;
	margin:0 -3px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	text-shadow:1px 1px 5px #000;
}

.tab:hover {
	z-index:10;
	cursor:pointer;
	background:#369;
	color:#fff;
}

#main {
	position:relative;
	z-index:1;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	box-shadow: 2px 2px 10px #111;
	background:#2b2b2b;
	width:800px;
	min-height:600px;
	margin:0 auto 25px;
	border:1px solid #111;
}

input {
	font-size:15px;
	font-family: 'Cuprum', sans-serif;
	margin: 0 10px 0 0;
}



/* ===================
	Campaing specific
   =================== */ 
	td p {
		padding:5px 0;
		margin:0;
	}
   
	table,td {
		border-collapse:collapse;
		padding:2px;
		margin:0 auto;
		text-align:center;
	}
	
	td {
		width:110px;
	}
		
	tr:nth-child(even) {background: #4c4c4c}
	
	
	.mo {
		cursor:pointer;
		padding:2px;
	}

	textarea {
		font-family: 'Cuprum', sans-serif;
		background:#bababa;
		margin:0 25px 25px;
		width:700px;
		height:200px;
		border:0;
		font-size:15px;
	}
	
	#title {
		text-align:center;
		background:#bababa;
		border:0;
		margin:25px 25px;
	}

	#modify {
		float:right;
		margin:0 20px 20px;
	}

	select {
		font-family: 'Cuprum', sans-serif;
		background:#bababa;
	}

	#padder {
		padding:0 25px 45px 25px;
	}

	#createcampaigntable, #createcampaigntable td {
		width:370px;
		text-align:left;
		background:#2b2b2b;
		padding:0;
		margin:0;
	}
		
	#createcampaigntable input, option, select {
		background:#bababa;
		width:145px;
	}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
